* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

/* NAVBAR */

#navbar {
	background-color: black;
	color: white;

	width: 100%;
	height: 80px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#navbar__links {
	display: flex;
}

h1,
#navbar * {
	font-size: 24px;
	font-weight: bold;
}

a {
	font-family: inherit;
	color: inherit;
}

#navbar p,
#navbar a {
	padding: 25px;
}
#navbar a {
	/* border-right: 1px solid white; */
	border-left: 1px solid white;
	cursor: pointer;
}
#navbar p {
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
}

/* INFOGRAPHIC */

.portfolio-display {
	height: calc(100svh - 80px);
	display: flex;
	flex-direction: row;
}

.portfolio-display img {
	max-height: 100%;
}

.portfolio-display__information {
	height: 100%;
	padding: 25px;
	font-size: 17px;

	display: flex;
	flex-direction: column;
}

.portfolio-display__information i {
	margin-bottom: 10px;
}

.portfolio-display__sketches {
	display: grid;
	grid-template-columns: 1fr;
	max-height: 100%;
	max-width: 500px;
	overflow-y: scroll;
}

.portfolio-display__information__paragraph {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.sketch-item img {
	width: 100%;
	/* aspect-ratio: 1; */
	/* object-fit: cover; */
}
